.a {
  text-decoration: none;
  color: #5E17EB;
}

.a:visited:hover, .a:hover {
  color: #38B6FF;
}

.a:visited {
  color: #5271FF;
}

.contained {
  width: 840px;
}

.container {
  display: grid;
  justify-content: center;
}

.header {
  min-height: 80px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.headerContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.headerColumn {
  display: grid;
  align-items: center;
}

.headerColumn:nth-child(1) {
  justify-content: start;
}

.headerColumn:nth-child(2) {
  justify-content: end;
}

.navMenuList {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
}
